<div class="sidebar">
    <div class="profileSpace">
        <h3>ETHWAS</h3><br/>

        <button class="buttonNow" (click)="home()"><i class="bi bi-bank2"></i> Home </button> <br>
        <button class="buttonNow" (click)="gotoFundMainPage()"><i class="bi bi-credit-card-2-front-fill"></i> Fund Account </button><br>
        <button class="buttonNow" (click)="gotoCreateWallet()"><i class="fa fa-credit-card" aria-hidden="true"></i> Wallet</button> <br>
        <button class="buttonNow" (click)="gotoProfile()"><i class="bi bi-pencil-square"></i> Edit profile</button><br>
        <button class="buttonNow" (click)="sendMoney()"><i class="bi bi-currency-exchange"></i> Transfer</button>
 
    </div>

 

<button class="buttonNow" style="margin-top: 90%;" (click)="logOut()" >Log-Out</button>

</div>
