<div>
    <p style="width: 400px; word-wrap: break-word; text-align: justify; margin-left: 35%;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam tenetur laudantium praesentium repudiandae quaerat beatae dicta temporibus officiis, dolorem adipisci magnam iure explicabo perferendis quos quas ad. Corporis, aspernatur eveniet.
    </p>
    <input type="checkbox"   [(ngModel)]="agreedToTerms"/>
    <button (click)="gotoLoginPage()" class="btn btn-primary ">Sign Up</button>

    <div style="text-align: center; margin-top: 19%; position:fixes;">
        <hr style="width: 50%; margin-left: 20%;">
    <span style="font-size:small; "> © 1999–2021 All rights reserved.</span> <br>
    <a href="" class="linkTag">Privacy</a> <a href="" class="linkTag">Legal</a> <a href="" class="linkTag">Contact</a>
    </div>
</div>
