 
.logIn{
   border: 2px solid silver;
    width: 33%;
    height: 300px;;
    text-align: center;
    margin-left: 35%;
    margin-top: 10%;
}
.formClass{
    width: 300px;
    margin: 10px;
    margin-left: 12%;

}