<diV>
    <h4>We Love to celebrate Our customers</h4>
    <h5> Kindly Input your Date Of Birth</h5>
    <input type="date" class="from-control" [(ngModel)]="Birthday"/>
    <br><br>
    <button (click)="saveBirthday()" class="btn btn-primary">Next</button>
    <div style="text-align: center; margin-top: 19%;">
        <hr style="width: 50%; margin-left: 25%;">
<span style="font-size:small; "> © 1999–2021 All rights reserved.</span> <br>
<a href="" class="linkTag">Privacy</a> <a href="" class="linkTag">Legal</a> <a href="" class="linkTag">Contact</a>
</div>
</diV>
