 <div>
     <h3>Almost Done!!!</h3>
     <h4>set Your Secret Password</h4>
     <div>
         <div class="formClass">
            <input class="form-control" [(ngModel)]="Password" placeholder="secret-code">
         </div>
         <div class="formClass">
           <input class="form-control" [(ngModel)]="Password2" placeholder="re-enter code" >
        </div>
        <br><br>
            <button class="btn btn-primary" (click)='setPassword()'>Set</button>
     </div>


     <div class="alertDiv" *ngIf="alertIt">
        {{alertValue}}
    </div>

     <div style="text-align: center; margin-top: 19%; position:fixes;">
        <hr style="width: 50%; margin-left: 20%;">
    <span style="font-size:small; "> © 1999–2021 All rights reserved.</span> <br>
    <a href="" class="linkTag">Privacy</a> <a href="" class="linkTag">Legal</a> <a href="" class="linkTag">Contact</a>
    </div>
 </div>

 