<div class="fundBox">
    <h3>Fund Account</h3>
    <div>
     <strong> Available Fund: </strong><br>
  <span style="font-size: large;"> <strong> {{totalAmount | currency:'NGN':'symbol-narrow'}} </strong> </span>
</div>
    <div class="boxx">
        <label >Amount:</label> <br>
        <input class="formclass" placeholder="Amount" [(ngModel)]="wallet.fund" type="number">
    </div>
    <div *ngIf="wallet.fund!==''">
        <div class="boxx">
            <label >Card Name:</label> <br>
            <input class="formclass" [(ngModel)]="wallet.cardname">
        </div>
        <div class="boxx">
            <label >Card Number:</label> <br>
            <input class="formclass" type="number" [(ngModel)]="wallet.accountNumber">
        </div>
        <div class="boxx">
            <label >Card pin:</label> <br>
            <input class="formclass" [(ngModel)]="wallet.pin" type="number">
        </div>
        <div class="boxx">
            <label >Card cvv:</label> <br>
            <input class="formclass" [(ngModel)]="wallet.cvv"  type="number">
        </div>
        <button class="btn btn-success" (click)="addFund()" data-bs-toggle="modal" data-bs-target="#exampleModal">Fund</button>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Done successfully !!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
          </div>
        </div>
      </div>
</div>
