<div>
    Main  Balance: <br> <strong> {{personTotalMoney | currency: 'NGN' : 'symbol-narrow'}} </strong> <br>
    Wallet Balance: <br> <strong> {{userWallet.amount | currency: 'NGN' : 'symbol-narrow'}} </strong>
    <div>
        <label>Amount to add</label> <br>
        <input class="formclass" [(ngModel)]="amountToFund" placeholder="amount to add"> <br> <br>
        <button class="btn btn-success" (click)="addMoreFund()" data-bs-toggle="modal" data-bs-target="success">Add Fund</button>
    </div>


    <div class="modal fade" id="success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Done successfully !!!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</div>